<!DOCTYPE html>
<html lang="en">

<%- include("partials/headInfo") %>

<body>
  <h1> Famous Quotes </h1>

  <h2> <%= fullQuote.text %> </h2>
  <br>
  <i> <%= fullQuote.author %> </i>
  <br>
  <img src="<%= image %>">
</body>
</html>